th {
  text-align: center;
}

section{
  width: 1200px;
  height: 571px;
}

textarea {
  float: left;
  width: 500px;
  height: 571px;

}

#pc{

  margin: 20px;
} 

#memory{
  margin: 20px;

  
}
#register{
  margin: 20px;
  height: 571px; 
  overflow-y:scroll; 

}

