th, h1, h2 {
  text-align: center;
}

section{
  width: 1200px;
  height: 571px;
}

textarea {
  float: left;
  width: 510px;
  height: 510px;
  overflow-y: scroll;
  resize: none;
}

#pc{

  margin: 20px;
} 

#memory{
  margin: 20px;

  
}
#register{
  margin: 20px;
  height: 571px; 
  overflow-y:scroll;
}

#body{
  vertical-align: text-top;
}

#immediate{
  width:70px;
}

#fierihelp {
  width:200px;
  height:300px;
}

.row {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.column {
  flex: 50%;
}

#filterSigned {
  width: 75px;
}
